html {
    height: 100%;
}

body {
    font-family: 'Open-Dyslexic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;

    min-height: 100%;    
    display: flex;
    flex-direction: column;
}

header {
    background-color: #69DD69;
    color: black;
    padding: 10px;
}

header a {
    color: black;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.logo>a {
    font-size: 1.5em;
}

/* Menu container */
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
}

/* Menu items */
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
        color: rgba(0, 0, 0, 0.65);
}

/* Hamburger menu icon */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Dropdown menu for mobile */
.dropdown {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.dropdown a {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
    color: white;
}

main {
    padding: 20px;
}

.guide {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.guide > a {
    text-decoration: none;
}

.action {
    background-color: white;
    border: 3px solid #cdcdcd;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

.action div:last-of-type {
    margin-top: 10px;
}

.action:focus {
    border: 3px solid #59bb59 !important;
}

.icon {
    width: 60%;
    height: auto;
}

.button {
    font-family: 'Open-Dyslexic', sans-serif;
    background-color: #69DD69;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #419645;
}

button {
    font-family: 'Open-Dyslexic', sans-serif;
    background-color: #69DD69;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #419645;
}

.video {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30%;
}

.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about > p {
    text-align:left;
}

footer {

    margin-top: auto;
    background-color: #69DD69;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

footer > p {
    padding-left: 15px;
    padding-right: 15px;
}

footer a {
    color: #810101;
}



/* Responsive design */
@media (max-width: 767px) {
    
    .guide {
        
        grid-template-columns: 50% 50%;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        display: none;
    }

    .dropdown.open {
        display: flex;
    }
}

@media (max-width: 550px) {

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
    
    .guide {
        
        grid-template-columns: auto;
    }

    .about {
        width: 90%;
    
    }

    .video {
        position: relative;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40%;
        
    }

    footer > p {
        font-size: 16px;
    }
}
